<div id="needs-focus" class="template-container" ng-keydown="keyPressed($event)" tabindex="0">
    <div class="navbar-top">
        <span class="glyphicon glyphicon-menu-hamburger mobile-display" style="color: white; font-size: 18px;" ng-click="$parent.tester()"></span>
        <div class="navbar-headers active mobile-hide">
            DAILY UPDATES
        </div>
        <div class="navbar-headers active mobile-display">
            UPDATES
        </div>
        <div class="navbar-headers" ng-click="$parent.goTo('Quiz')">
            QUIZ
        </div>
        <div class="navbar-headers mobile-hide" ng-click="$parent.travel('Monthly Digest')">
            MONTHLY DIGEST
        </div>
        <div class="navbar-headers mobile-display" ng-click="$parent.travel('Monthly Digest')">
            DIGEST
        </div>
        <div class="mobile-hide lang-font" style="float: right; padding: 6px 12px 6px 3px;">हिंदी</div>
        <div class="mobile-hide" style="float: right; padding: 6px 12px;">
            <div class="toggle-button" ng-click="changeLang()">
                <button ng-class="{ 'left': user.userInfo.lang == 'english', 'right': user.userInfo.lang == 'hindi' }"></button>
            </div>
        </div>
        <div class="mobile-hide lang-font" style="float: right; padding: 6px 0px;">Eng</div>
    </div>
    <div id="news-update-main" style="z-index: 200;">
        <div class="top-space"></div>
        <div id="carousel-0" class="carousel slide" data-ride="carousel" ng-show="0==visible">
            <div class="carousel-inner" role="listbox">
                <div class="item" ng-repeat="newsUpdate in newsUpdates track by $index" ng-class="{'active': newsIndexToBeCompared[0] == $index}">
                    <div class="row" style="margin: 0px; padding: 0px;">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" style="padding: 5px 0px 5px 0px;">
                            <div class="news-card">
                                
                                <div ng-style="{'background-image': 'url(' + newsUpdate.imageWeb + ')'}" style="width: 100%; height: 100px; background-size: cover; background-position: center; border-radius: 4px 4px 0px 0px;">
                                    <div class="gradient-background" style="height: 100%; width: 100%; border-radius: 2px 2px 0px 0px;">
                                        <div class="blank-space"></div>
                                        <div class="news-heading">{{newsUpdate.content[user.userInfo.lang].heading}}</div>
                                    </div>
                                </div>
                                <div class="news-content">
                                    <p class="news-points" ng-repeat="point in newsUpdate.content[user.userInfo.lang].points track by $index" ng-class="{ 'no-bottom-margin': $index == newsUpdate.content[user.userInfo.lang].points.length-1 }">{{$index+1}}. <span ng-bind-html="prettify(point)"></span></p>
                                </div>
                                <div class="news-card-toolbar">
                                    <img src="./resources/back-to-top.svg" style="float: left; vertical-align: middle; padding-top: 10px; cursor:pointer;" ng-click="backToTop()">
                                    <img src="./resources/share.svg" style="float: right; vertical-align: middle; padding-top: 8px; cursor:pointer;" ng-click="share($index)">
                                    {{$index+1-fetchInfo[newsUpdate.dateString].total}}/{{fetchInfo[newsUpdate.dateString].len}} from {{getDateObj(newsUpdate.dateString) | date:'d MMM'}}
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="item" ng-class="{'active': newsIndexToBeCompared[0] == newsUpdates.length}">
                    <div class="row" style="margin: 0px; padding: 0px;">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" style="padding: 5px 0px 5px 0px;">
                            <div class="news-card">
                                <div style="width: 100%; height: 100px; border-radius: 2px 2px 0px 0px;">
                                    <div class="empty-gradient-background" style="height: 100%; width: 100%; border-radius: 2px 2px 0px 0px;">
                                        <div style="height:56px; background-color: rgba(0, 0, 0, 0); border-radius: 2px 2px 0px 0px;"></div>
                                        <div style="height: 24px; background-color: #ffffff; margin-left: 24px; width: 80%;"></div>
                                    </div>
                                </div>
                                <div style="width: 100%; height: 280px; overflow-y: auto; padding: 30px 24px 6px 24px;">
                                    <div style="height: 24px; background-color: #f5f5f5; width: 75%; margin-bottom: 18px;"></div>
                                    <div style="height: 24px; background-color: #f5f5f5; width: 90%; margin-bottom: 18px;"></div>
                                    <div style="height: 24px; background-color: #f5f5f5; width: 60%; margin-bottom: 18px;"></div>
                                    <div style="height: 30px; background-color: rgba(0, 0, 0, 0);"></div>
                                    <div style="height: 36px; background-color: #f5f5f5; width: 75%; margin-bottom: 18px; color: white;">
                                        <div ng-show="fetchingStatus == 0" class="news-card-error">
                                            Internet Connection Error
                                            <button class="btn" ng-click="fetchData(errorDate)" style="margin-left: 12px;">Try again</button>
                                        </div>
                                        <div ng-show="fetchingStatus == 3" class="news-card-error">News cards finished</div>
                                        <div ng-show="fetchingStatus == 4" class="news-card-error">
                                            Internet Connection Error
                                            <button class="btn" ng-click="refreshPage()" style="margin-left: 12px;">Refresh Page</button>    
                                        </div>
                                    </div>
                                </div>
                                <div class="news-card-toolbar"></div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="carousel-1" class="carousel slide" data-ride="carousel" ng-show="1==visible">
            <div class="carousel-inner" role="listbox">
                <div class="item" ng-repeat="newsUpdate in newsUpdates track by $index" ng-class="{'active': newsIndexToBeCompared[1] == $index}">
                    <div class="row" style="margin: 0px; padding: 0px;">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" style="padding: 5px 0px 5px 0px;">
                            <div class="news-card">
                                
                                <div ng-style="{'background-image': 'url(' + newsUpdate.imageWeb + ')'}" style="width: 100%; height: 100px; background-size: cover; background-position: center; border-radius: 4px 4px 0px 0px;">
                                    <div class="gradient-background" style="height: 100%; width: 100%; border-radius: 2px 2px 0px 0px;">
                                        <div class="blank-space"></div>
                                        <div class="news-heading">{{newsUpdate.content[user.userInfo.lang].heading}}</div>
                                    </div>
                                </div>
                                <div class="news-content">
                                    <p class="news-points" ng-repeat="point in newsUpdate.content[user.userInfo.lang].points track by $index" ng-class="{ 'no-bottom-margin': $index == newsUpdate.content[user.userInfo.lang].points.length-1 }">{{$index+1}}. <span ng-bind-html="prettify(point)"></span></p>
                                </div>
                                <div class="news-card-toolbar">
                                    <img src="./resources/back-to-top.svg" style="float: left; vertical-align: middle; padding-top: 10px; cursor:pointer;" ng-click="backToTop()">
                                    <img src="./resources/share.svg" style="float: right; vertical-align: middle; padding-top: 8px; cursor:pointer;" ng-click="share($index)">
                                    {{$index+1-fetchInfo[newsUpdate.dateString].total}}/{{fetchInfo[newsUpdate.dateString].len}} from {{getDateObj(newsUpdate.dateString) | date:'d MMM'}}
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="item" ng-class="{'active': newsIndexToBeCompared[1] == newsUpdates.length}">
                    <div class="row" style="margin: 0px; padding: 0px;">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" style="padding: 5px 0px 5px 0px;">
                            <div class="news-card">
                                <div style="width: 100%; height: 100px; border-radius: 2px 2px 0px 0px;">
                                    <div class="empty-gradient-background" style="height: 100%; width: 100%; border-radius: 2px 2px 0px 0px;">
                                        <div style="height:56px; background-color: rgba(0, 0, 0, 0); border-radius: 2px 2px 0px 0px;"></div>
                                        <div style="height: 24px; background-color: #ffffff; margin-left: 24px; width: 80%;"></div>
                                    </div>
                                </div>
                                <div style="width: 100%; height: 280px; overflow-y: auto; padding: 30px 24px 6px 24px;">
                                    <div style="height: 24px; background-color: #f5f5f5; width: 75%; margin-bottom: 18px;"></div>
                                    <div style="height: 24px; background-color: #f5f5f5; width: 90%; margin-bottom: 18px;"></div>
                                    <div style="height: 24px; background-color: #f5f5f5; width: 60%; margin-bottom: 18px;"></div>
                                    <div style="height: 30px; background-color: rgba(0, 0, 0, 0);"></div>
                                    <div style="height: 36px; background-color: #f5f5f5; width: 75%; margin-bottom: 18px; color: white;">
                                        <div ng-show="fetchingStatus == 0" class="news-card-error">
                                            Internet Connection Error
                                            <button class="btn" ng-click="fetchData(errorDate)" style="margin-left: 12px;">Try again</button>
                                        </div>
                                        <div ng-show="fetchingStatus == 3" class="news-card-error">News cards finished</div>
                                        <div ng-show="fetchingStatus == 4" class="news-card-error">
                                            Internet Connection Error
                                            <button class="btn" ng-click="refreshPage()" style="margin-left: 12px;">Refresh Page</button>    
                                        </div>
                                    </div>
                                </div>
                                <div class="news-card-toolbar"></div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="instructions" class="mobile-hide">
        Use <span style="margin-left: 6px; margin-right: 6px;" class="glyphicon glyphicon-arrow-left"></span> <span style="margin-right: 6px;" class="glyphicon glyphicon-arrow-right"></span> keys on your keyboard to navigate
    </div>
    <div id="bottom-button-container" style="z-index: 400;">
        <div style="background-color: #cacaca;" ng-click="prev();">
            <img style="margin-right: 6px;" src="./resources/back.svg">
            BACK
        </div>
        <div style="background-color: #1daf1c;" ng-click="next();">
            NEXT
            <img style="margin-left: 6px;" src="./resources/next.svg">
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#carousel-0').carousel({
            interval: false
        });
        $('#carousel-1').carousel({
            interval: false
        });
        $('#needs-focus').focus();
        var scp = angular.element(document.getElementById('news-update-main')).scope();
        $('#carousel-0').on('slide.bs.carousel', function () {
            scp.isSliding[0] = true;
        });
        $('#carousel-0').on('slid.bs.carousel', function () {
            scp.isSliding[0] = false;
        });
        $('#carousel-1').on('slide.bs.carousel', function () {
            scp.isSliding[1] = true;
        });
        $('#carousel-1').on('slid.bs.carousel', function () {
            scp.isSliding[1] = false;
        });
    });
</script>